<div class="flex-container">
  <button (click)="navigateToOtherPage()">Dodaj ocenę</button>
  <button (click)="share()">Dodaj obecność</button>
  <button (click)="share()">Dodaj uwagi</button>
  <button (click)="share()">Oceny</button>
  <button (click)="share()">Obecności</button>
  <button (click)="share()">Uwagi</button>
  <button (click)="share()">Wyloguj</button>
  <button class="dropdown-btn">Dropdown
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
